{
    "openapi": "3.0.3",
    "info": {
      "title": "Api Documentation",
      "description": "Api Documentation",
      "termsOfService": "urn:tos",
      "contact": {},
      "license": {
        "name": "Apache 2.0",
        "url": "http://www.apache.org/licenses/LICENSE-2.0"
      },
      "version": "1.0"
    },
    "servers": [
      {
        "url": "http://api1.artemisdev.cynopsis.co",
        "description": "Inferred Url"
      }
    ],
    "tags": [
      {
        "name": "app-config-controller",
        "description": "App Config Controller"
      },
      {
        "name": "asia-verify-controller",
        "description": "Asia Verify Controller"
      },
      {
        "name": "authentication-controller",
        "description": "Authentication Controller"
      },
      {
        "name": "authentication-manager-controller",
        "description": "Authentication Manager Controller"
      },
      {
        "name": "comment-controller",
        "description": "Comment Controller"
      },
      {
        "name": "crp-digital-onboarding-controller",
        "description": "Crp Digital Onboarding Controller"
      },
      {
        "name": "customer-controller",
        "description": "Customer Controller"
      },
      {
        "name": "dashboard-controller",
        "description": "Dashboard Controller"
      },
      {
        "name": "dev-ops-controller",
        "description": "Dev Ops Controller"
      },
      {
        "name": "development-toolkit-controller",
        "description": "Development Toolkit Controller"
      },
      {
        "name": "digital-onboarding-controller",
        "description": "Digital Onboarding Controller"
      },
      {
        "name": "domain-controller",
        "description": "Domain Controller"
      },
      {
        "name": "expiring-document-controller",
        "description": "Expiring Document Controller"
      },
      {
        "name": "hand-shake-controller",
        "description": "Hand Shake Controller"
      },
      {
        "name": "media-controller",
        "description": "Media Controller"
      },
      {
        "name": "on-going-due-diligent-controller",
        "description": "On Going Due Diligent Controller"
      },
      {
        "name": "open-corporate-controller",
        "description": "Open Corporate Controller"
      },
      {
        "name": "operation-handler",
        "description": "Operation Handler"
      },
      {
        "name": "own-restricted-list-controller",
        "description": "Own Restricted List Controller"
      },
      {
        "name": "periodic-review-controller",
        "description": "Periodic Review Controller"
      },
      {
        "name": "product-updates-controller",
        "description": "Product Updates Controller"
      },
      {
        "name": "quick-scan-controller",
        "description": "Quick Scan Controller"
      },
      {
        "name": "rest-controller-config",
        "description": "Rest Controller Config"
      },
      {
        "name": "user-controller",
        "description": "User Controller"
      },
      {
        "name": "web-mvc-links-handler",
        "description": "Web Mvc Links Handler"
      }
    ],
    "paths": {
      "/api/app-config": {
        "get": {
          "tags": [
            "app-config-controller"
          ],
          "summary": "getAllConfigs",
          "operationId": "getAllConfigsUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/app-config/bulk/{keys}": {
        "get": {
          "tags": [
            "app-config-controller"
          ],
          "summary": "getConfigsByKeys",
          "operationId": "getConfigsByKeysUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "keys",
              "in": "path",
              "description": "keys",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/app-config/creditInfo": {
        "get": {
          "tags": [
            "app-config-controller"
          ],
          "summary": "getCreditInfo",
          "operationId": "getCreditInfoUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "creditCategory",
              "in": "query",
              "description": "creditCategory",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string",
                "enum": [
                  "ALL",
                  "ARES3",
                  "ARTEMIS3",
                  "ATHENA3",
                  "ENRICHMENT"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/CreditInfoDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/app-config/pastSubscriptionInfo": {
        "get": {
          "tags": [
            "app-config-controller"
          ],
          "summary": "getPastSubscriptionInfo",
          "operationId": "getPastSubscriptionInfoUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/SubscriptionInfoDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/app-config/{key}": {
        "get": {
          "tags": [
            "app-config-controller"
          ],
          "summary": "getConfigByKey",
          "operationId": "getConfigByKeyUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "key",
              "in": "path",
              "description": "key",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/check-source": {
        "get": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "checkAssignedSource",
          "operationId": "checkAssignedSourceUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/DataServiceSourceCheckResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/login": {
        "post": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "getAsiaVerifyAuthToken",
          "operationId": "getAsiaVerifyAuthTokenUsingPOST",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/DataServiceAccessTokenResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/profile": {
        "post": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "requestEntityProfileReport",
          "operationId": "requestEntityProfileReportUsingPOST",
          "parameters": [
            {
              "name": "token",
              "in": "query",
              "description": "token",
              "required": true,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsiaVerifyProfileRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/DataServiceProfileResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/profile/check-exist/{vendorEntityGuid}": {
        "get": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "getRequestedProfile",
          "operationId": "getRequestedProfileUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "vendorEntityGuid",
              "in": "path",
              "description": "vendorEntityGuid",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CustomerResponseDto"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/profile/import": {
        "post": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "importAsiaVerifyProfileReportToDb",
          "operationId": "importAsiaVerifyProfileReportToDbUsingPOST",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "customerId",
              "in": "query",
              "description": "customerId",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataServiceProfileImportRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CustomerResponseDto"
                    }
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/profile/manual": {
        "post": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "requestManualEntityProfileReport",
          "operationId": "requestManualEntityProfileReportUsingPOST",
          "parameters": [
            {
              "name": "token",
              "in": "query",
              "description": "token",
              "required": true,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsiaVerifyManualProfileRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/DataServiceProfileResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/asia-verify/search": {
        "post": {
          "tags": [
            "asia-verify-controller"
          ],
          "summary": "searchForEntityWithBasicSearch",
          "operationId": "searchForEntityWithBasicSearchUsingPOST",
          "parameters": [
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "pageNumber",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "paged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.sorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.unsorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "unpaged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "token",
              "in": "query",
              "description": "token",
              "required": true,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsiaVerifySearchRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/DataServiceSearchResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/change-password": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "changePassword",
          "operationId": "changePasswordUsingPOST",
          "parameters": [
            {
              "name": "audience",
              "in": "query",
              "required": false,
              "style": "pipeDelimited",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "authority",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "claims",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "object"
              }
            },
            {
              "name": "domains[0].id",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "domains[0].name",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "email",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "external",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "externalUserId",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "headers",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "object"
              }
            },
            {
              "name": "id",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "issuer",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string",
                "format": "url"
              }
            },
            {
              "name": "notBefore",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "scopes",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "skipVerify",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "subject",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tokenValue",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "userId",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/expired-password/{code}/activate": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "resetExpiredPassword",
          "operationId": "resetExpiredPasswordUsingPOST",
          "parameters": [
            {
              "name": "code",
              "in": "path",
              "description": "code",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResetRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/first-time/{code}": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getFirstTimeMfaCodeInfo",
          "operationId": "getFirstTimeMfaCodeInfoUsingGET",
          "parameters": [
            {
              "name": "code",
              "in": "path",
              "description": "code",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/first-time/{code}/activate": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "firstTimeActivatePassword",
          "operationId": "firstTimeActivatePasswordUsingPOST",
          "parameters": [
            {
              "name": "code",
              "in": "path",
              "description": "code",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirstTimeCodeRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/force90DaysPasswordChange/{value}": {
        "put": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "force90DaysPasswordChange",
          "operationId": "force90DaysPasswordChangeUsingPUT",
          "parameters": [
            {
              "name": "value",
              "in": "path",
              "description": "value",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/forceMfa/{value}": {
        "put": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "forceMfa",
          "operationId": "forceMfaUsingPUT",
          "parameters": [
            {
              "name": "value",
              "in": "path",
              "description": "value",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/forget-password": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "forgetPassword",
          "operationId": "forgetPasswordUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForgetPasswordRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/forget-password/{code}": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getForgetPasswordInfo",
          "operationId": "getForgetPasswordInfoUsingGET",
          "parameters": [
            {
              "name": "code",
              "in": "path",
              "description": "code",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/forget-password/{code}/activate": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "activateForgetPasswordProcess",
          "operationId": "activateForgetPasswordProcessUsingPOST",
          "parameters": [
            {
              "name": "code",
              "in": "path",
              "description": "code",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResetRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/getEnforceMfaStatus": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getForceMfa",
          "operationId": "getForceMfaUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "boolean"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/getEnforcePasswordChangeStatus": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getForce90DaysPasswordChange",
          "operationId": "getForce90DaysPasswordChangeUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "boolean"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/getIsEnabledMFA": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getIsEnabledMFA",
          "operationId": "getIsEnabledMFAUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "boolean"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/login": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "login",
          "operationId": "loginUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/login/mfa": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "loginWithMfa",
          "operationId": "loginWithMfaUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaLoginRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/logout": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "logout",
          "operationId": "logoutUsingPOST",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/oauth-callback-refresh-token": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "oauthCallbackRefreshToken",
          "operationId": "oauthCallbackRefreshTokenUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/oauth-callback-token": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "oauthCallbackToken",
          "operationId": "oauthCallbackTokenUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/oauth-config": {
        "get": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getOauthConfig",
          "operationId": "getOauthConfigUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/oauth-verify": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "register",
          "operationId": "registerUsingPOST",
          "parameters": [
            {
              "name": "audience",
              "in": "query",
              "required": false,
              "style": "pipeDelimited",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "authority",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "claims",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "object"
              }
            },
            {
              "name": "domains[0].id",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "domains[0].name",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "email",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "external",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "externalUserId",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "headers",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "object"
              }
            },
            {
              "name": "id",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "issuer",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string",
                "format": "url"
              }
            },
            {
              "name": "notBefore",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "scopes",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "skipVerify",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "subject",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tokenValue",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "userId",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/refresh": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "redeemRefreshToken",
          "operationId": "redeemRefreshTokenUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ResponseEntity"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication/token": {
        "post": {
          "tags": [
            "authentication-controller"
          ],
          "summary": "getAccessToken",
          "operationId": "getAccessTokenUsingPOST",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCredentialsDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/AuthenticationResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/permission": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getAllPermissions",
          "operationId": "getAllPermissionsUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/role": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getAllRoles",
          "operationId": "getAllRolesUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "pageNumber",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "paged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.sorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.unsorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "unpaged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/RoleResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        },
        "post": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "createRole",
          "operationId": "createRoleUsingPOST",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/RoleResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/role/all": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getAllRolesNoPagination",
          "operationId": "getAllRolesNoPaginationUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RoleResponseDto"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/role/{id}": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getRoleById",
          "operationId": "getRoleByIdUsingGET",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/RoleResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        },
        "put": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "updateRole",
          "operationId": "updateRoleUsingPUT",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/RoleResponseDto"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        },
        "delete": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "deleteRole",
          "operationId": "deleteRoleUsingDELETE",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No Content"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getAllUsersPermissionAndRoles",
          "operationId": "getAllUsersPermissionAndRolesUsingGET",
          "parameters": [
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "pageNumber",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "paged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.sorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sort.unsorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "unpaged",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "search",
              "in": "query",
              "description": "search",
              "required": false,
              "style": "form",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "isActive",
              "in": "query",
              "description": "isActive",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/UserWithRolePermissionDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}": {
        "get": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "getASingleUsersPermissionAndRoles",
          "operationId": "getASingleUsersPermissionAndRolesUsingGET",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/UserWithRolePermissionDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        },
        "delete": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "deleteUser",
          "operationId": "deleteUserUsingDELETE",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No Content"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/permission": {
        "post": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "addUserPermission",
          "operationId": "addUserPermissionUsingPOST",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionHandleRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/UserPermission"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/permission/batch": {
        "put": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "updateUserPermissionBatch",
          "operationId": "updateUserPermissionBatchUsingPUT",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserPermission"
                    }
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/permission/{permissionType}": {
        "delete": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "removeUserPermission",
          "operationId": "removeUserPermissionUsingDELETE",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "permissionType",
              "in": "path",
              "description": "permissionType",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "ADMIN",
                  "ANONYMOUS",
                  "CASE_APPROVE",
                  "CASE_APPROVE_ACCEPTED",
                  "CASE_APPROVE_ACCEPTED_HIGH_RISK",
                  "CASE_APPROVE_ACCEPTED_LOW_RISK",
                  "CASE_APPROVE_ACCEPTED_MEDIUM_HIGH_RISK",
                  "CASE_APPROVE_ACCEPTED_MEDIUM_LOW_RISK",
                  "CASE_APPROVE_ACCEPTED_MEDIUM_RISK",
                  "CASE_APPROVE_REJECTED",
                  "CASE_ASSIGN",
                  "CASE_CREATE",
                  "CASE_DELETE",
                  "CASE_DELETE_COMMENT",
                  "CASE_DELETE_DOCUMENT",
                  "CASE_GROUP_PERMISSIVE",
                  "CASE_PERMISSIVE",
                  "CASE_REQUEST_UPDATE",
                  "CASE_UPDATE",
                  "CASE_VIEW",
                  "ORL_CREATE",
                  "ORL_DELETE",
                  "ORL_UPDATE",
                  "ORL_VIEW",
                  "SERVICE",
                  "USER_CREATE",
                  "USER_DELETE",
                  "USER_GROUP_CREATE",
                  "USER_GROUP_DELETE",
                  "USER_GROUP_UPDATE",
                  "USER_GROUP_VIEW",
                  "USER_REACTIVATE",
                  "USER_UPDATE_PERMISSION",
                  "USER_VIEW"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No Content"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/resend-invite": {
        "post": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "resendInvite",
          "operationId": "resendInviteUsingPOST",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "Origin",
              "in": "header",
              "description": "Origin",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/role": {
        "post": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "addUserRole",
          "operationId": "addUserRoleUsingPOST",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleHandleRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/UserRole"
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/role/{roleId}": {
        "delete": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "removeUserRole",
          "operationId": "removeUserRoleUsingDELETE",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "roleId",
              "in": "path",
              "description": "roleId",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No Content"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/authentication-manager/user/{id}/unlock": {
        "put": {
          "tags": [
            "authentication-manager-controller"
          ],
          "summary": "unlockUser",
          "operationId": "unlockUserUsingPUT",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "X-Domain-ID",
              "in": "header",
              "description": "X-Domain-ID",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/comment/{type}": {
        "post": {
          "tags": [
            "comment-controller"
          ],
          "summary": "addNewComments",
          "operationId": "addNewCommentsUsingPOST",
          "parameters": [
            {
              "name": "type",
              "in": "path",
              "description": "type",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "CUSTOMER",
                  "HIT",
                  "SCREENING"
                ]
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentRequestDto"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommentResponseDto"
                    }
                  }
                }
              }
            },
            "201": {
              "description": "Created"
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/comment/{type}/{objectId}": {
        "get": {
          "tags": [
            "comment-controller"
          ],
          "summary": "getAllComment",
          "operationId": "getAllCommentUsingGET_1",
          "parameters": [
            {
              "name": "sorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "type",
              "in": "path",
              "description": "type",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "CUSTOMER",
                  "HIT",
                  "SCREENING"
                ]
              }
            },
            {
              "name": "unsorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "objectId",
              "in": "path",
              "description": "objectId",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommentResponseDto"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/comment/{type}/{objectId}/{category}": {
        "get": {
          "tags": [
            "comment-controller"
          ],
          "summary": "getAllComment",
          "operationId": "getAllCommentUsingGET",
          "parameters": [
            {
              "name": "sorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "type",
              "in": "path",
              "description": "type",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "CUSTOMER",
                  "HIT",
                  "SCREENING"
                ]
              }
            },
            {
              "name": "unsorted",
              "in": "query",
              "required": false,
              "style": "form",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "objectId",
              "in": "path",
              "description": "objectId",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "category",
              "in": "path",
              "description": "category",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "COMMENT",
                  "DESCRIPTION"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommentResponseDto"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "403": {
              "description": "Forbidden"
            },
            "404": {
              "description": "Not Found"
            }
          },
          "security": [
            {
              "OAuth2 Client Credentials": []
            },
            {
              "OAuth2 Password": []
            }
          ]
        }
      },
      "/api/comment/{type}/{objectId}/{id}": {
        "put": {
          "tags": [
            "comment-controller"
          ],
          "summary": "updateComment",
          "operationId": "updateCommentUsingPUT",
          "parameters": [
            {
              "name": "type",
              "in": "path",
              "description": "type",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "enum": [
                  "CUSTOMER",
                  "HIT",
                  "SCREENING"
                ]
              }
            },
            {
              "name": "objectId",
              "in": "path",
              "description": "objectId",
              "required": true,
              "style": "simple",
              "schema": {
[...]
